body {
font-family: "Roboto", sans-serif;
font-size: 16px;
color: #434455;
background-color: #FFFFFF;
}

a {text-decoration: none;}

ul, ol {list-style-type: none;}

address {font-style: normal;}

button {cursor: pointer;} 

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-part {
    color: #2e2f42;
}

.nav-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link {
    color: #2e2f42;
}
.nav-link:hover {
    color: #404BBF;
}
.nav-link:focus {
    color: #404BBF;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
.contacts-link {
    color: #434455
}
.contacts-link:hover {
    color: #404BBF
}
.contacts-link:focus {
    color: #404bbf
}

/* Hero 1 */

.hero {
    background-color: #2e2f42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-btn {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}

/* features 2 */

.features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

 .features-list-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Our Team 3 */

.our-team {
background-color: #F4F4FD;
}

.our-team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.our-team-list{
background-color: #FFFFFF;
}

.our-team-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.our-team-list-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* Our Portfolio 4 */

.our-portfolio-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.our-portfolio-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.our-portfolio-list-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* Footer */

.footer {
background-color: #2e2f42;
}
.footer-logo-part {
    color: #f4f4fd;
}

.footer-item {
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}